@mixin primary-gradient {
  background: rgb(49, 211, 92);
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 10%,
    rgba(43, 183, 218, 1) 100%
  );
}

@mixin container-right {
  max-width: 100% !important;
  margin-right: 0 !important;
  @include media-breakpoint-up(sm) {
    margin-left: calc(50vw - 278px) !important;
  }
  @include media-breakpoint-up(md) {
    margin-left: calc(50vw - 369px) !important;
  }
  @include media-breakpoint-up(lg) {
    margin-left: calc(50vw - 489px) !important;
  }
  @include media-breakpoint-up(xl) {
    margin-left: calc(50vw - 578px) !important;
  }
  @include media-breakpoint-up(xxl) {
    margin-left: calc(50vw - 670px) !important;
  }
}

.request-invite-button {
  @include primary-gradient;
  transition: opacity 200ms ease-in-out;
  &:hover {
    opacity: 0.5;
  }
}

.hero {
  &__images {
    height: 350px;
    background-image: url("../assets/bg-intro-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    @include media-breakpoint-up(md) {
      background-size: cover;
      background-position: 15% 30px;
      background-image: url("../assets/bg-intro-desktop.svg");
    }
    @include media-breakpoint-up(md) {
      height: unset;
      overflow: visible !important;
    }
    &__main {
      max-height: 450px;
      transform: translateY(-130px);
      @include media-breakpoint-up(md) {
        max-height: unset;
        transform: translateY(100px);
      }
    }
  }
  &__text {
    max-width: 400px;
    @include media-breakpoint-up(md) {
      @include container-right;
    }
  }
}

.header__navbar {
  &__hamburger {
    .navbar-toggler-icon {
      background-image: url("../assets/icon-close.svg") !important;
    }
    &.collapsed {
      .navbar-toggler-icon {
        background-image: url("../assets/icon-hamburger.svg") !important;
      }
    }
  }
  &.collapsing {
    transition: none;
    display: none;
  }
  @include media-breakpoint-down(lg) {
    &.show {
      position: fixed;
      top: 70px;
      left: 0;
      right: 0;
      width: calc(100% - 20px);
      max-width: 500px;
      z-index: $zindex-dropdown;
      &::before {
        content: "";
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 50%);
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.75) 10%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }
    }
  }

  &__list {
    align-items: center;
    background: $white;
    > li {
      position: relative;
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -8px;
        height: 3px;
        @include primary-gradient;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
    }
  }
}

.eb-heading {
  font-size: 40px;
}

.footer {
  &__link {
    color: $lightGrayishBlue;
    transition: color 200ms ease-in-out;
    &:hover {
      color: $primary !important;
    }
  }
  &__socials {
    @include media-breakpoint-up(md) {
      font-size: 30px !important;
    }
    .bi {
      transition: color 200ms ease-in-out;
      &:hover {
        color: $primary !important;
      }
    }
  }
}

.latest-articles {
  &:hover {
    .latest-articles__heading {
      color: $primary !important;
    }
  }
  &__heading {
    transition: color 200ms ease-in-out;
    @include media-breakpoint-up(md) {
      font-size: 20px !important;
    }
  }
  &__text {
    font-size: 16px;
  }
  &__image {
    @include media-breakpoint-up(md) {
      min-height: 300px;
    }
    @include media-breakpoint-up(lg) {
      min-height: unset;
      max-height: 175px;
    }
  }
}

.why-choose {
  &__text {
    max-width: 550px;
  }
}
